@font-face {
  font-family: "vazirmatn";
  src: url(../assets/fonts/vazir/Vazirmatn.ttf);
}
body {
  padding: 0;
  margin: auto;
  overflow-x: hidden;
  box-sizing: border-box;
  width: 100%;
  font-family: "vazirmatn";
  overflow-x: hidden;
  direction: rtl;
  display: flex;
  justify-content: center;
  flex-direction: column;
  word-break: keep-all;
}

.main_text{
  padding-top: 15px;
  width: 100%;
  background-image: linear-gradient(120deg, #38a7ec, #e99506);

}
.main_text div
{
  width:100%;
  color: #fff;
}
.main_text h4{
margin-right: 30px;
font-size: 40px;
color: #ffffff;
text-shadow: 1px 1px #000000;
background-image: linear-gradient(120deg,#22a2b6, #38a7ec);
width:450px;
text-align: center;
border-radius: 5px;
}
.main_text p{
  text-align:justify;
  width:60rem;
  margin-right:50px;
}


  @media screen and (max-width:1211px) {
    .main_text h4{
      font-size: 25px;
      margin-top:50px;
    }
  }

@media screen and (max-width:1100px) {
  .main_text p{
    width: 45rem;
  }
}
  @media screen and (max-width: 869px) {
    .main_title p {
      font-size: 13px;
      width: 80%;
    }
  }
  @media screen and (max-width:850px) {
    .main_text p{
      width: 30rem;
    }
  }
  @media screen and (max-width: 840px) {
  
    .foods p {
      font-size: 18px;
    }
  }
  
  @media screen and (max-width:693px) {

    .main_text h4{
      font-size: 25px;
      width: 400px;
      margin-top: 50px;
    }
    .main_text p{
      width: 60%;
    }

  }
@media screen and (max-width:500px) {
  
  .main_text h4{
    font-size: 25px;
    width: 280px;
    margin-top: 50px;
  }
  .main_text p{
    width: 19.5rem;
    font-size: 14px;
  }

}
  